.env.*.php
.env.php
Thumbs.db
/bootstrap/compiled.php
/vendor
.DS_Store
.vagrant
.idea

app/storage/cache/*
app/storage/views/*
app/storage/sessions/*
app/storage/debugbar/*
app/storage/logs/*.txt
app/storage/logs/*.html

db.sql
use-cases

_ide_helper.php

/public/uploads/

#vagrant
VagrantFile
install.sh

# Composer
composer.phar
composer.lock


