
.container {
    background: #ffffff;
    border-right: 15px solid white;
    border-left: 15px solid white;
}
a:hover{
    color:#5bb75b;
}
.panel {
    /*margin-bottom: 5px !important;*/
}

.panel-default {
    /*box-shadow: 2px 2px 15px #888888 !important;*/
    border: 0px;
    background-color: white !important;
}

.panel-heading {
    position: relative;
    background-color: transparent !important;
    border-color: none !important;
    background-image: url("../images/SlidesActive.png");
    background-size: 60%;
    background-position: right;
    background-repeat: no-repeat;
    color: #FFF !important;

}

.panel-body {
    padding-top: 25px;
    overflow: hidden !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E6E6E6), color-stop(1, #C7C7C7));
    background-image: -o-linear-gradient(bottom, #E6E6E6 0%, #C7C7C7 100%);
    background-image: -moz-linear-gradient(bottom, #E6E6E6 0%, #C7C7C7 100%);
    background-image: -webkit-linear-gradient(bottom, #E6E6E6 0%, #C7C7C7 100%);
    background-image: -ms-linear-gradient(bottom, #E6E6E6 0%, #C7C7C7 100%);
    background-image: linear-gradient(to bottom, #E6E6E6 0%, #C7C7C7 100%);
}

#side-instagram .panel-default {
    /*	background-image:url(images/Instagram.png);*/

}

.navbar-default {
    background-color: white !important;
    border-color: white !important;
}

.navbar-default .navbar-nav > li > a {
    color: #636363 !important;
    top: 0px;
    position: relative;
    background-color: transparent !important;
    border-color: none !important;
    background-image: url("../images/MenuInactive.png");
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    padding: 16px 27px !important;
    width: 180px;
    padding-right: 11px;
    padding-left: 11px;
    margin-right: 0.5px;
    margin-left: 0.5px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #d0d0d0 !important;
    border-color: none !important;
    background-image: url("../images/MenuActive.png");
}

.navbar-default .navbar-brand {
    color: #FFF !important;
}

.navbar-default {
}

.navbar-nav > li {
}

.navbar-nav > li.active {
    font-weight: bold;
    font-size: 120%;
}

#side-instagram .panel-body {
    padding-right: 10%;
    padding-left: 10%;
    float: none;
    overflow: hidden !important;
}


.adsWrapper {
    margin-bottom: 20px;
    max-height:125px;
    max-width: 100%;
}

.ads {
    border: 2px solid #000000;

}
.ads img {
    height: 125px;
    width: 140%;
}

#map_canvas {
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    width: 98%;
    height: auto;
    min-height: 180px;

}

#event_images {
    margin: auto;
    width: 100%;
}


#event_images img {
    margin: 5px;
}

.thumbnail-img {
    width: 115px;
    float: right;
    margin: 0 5px 5px 5px;
    border: 2px solid #c0c0c0;
}

#statistic_feed {
    padding-top: 10px;
}

#statistic_feed .glyphicon {
    font-size: 14px;
    color: white;
}

.events_btns {
    color: #FFFFFF;
    font-weight: bold;
}

.events_btns:active {
    color: #FFFFFF;
}

.events_btns:hover {
    color: #cccccc;
}

.events_btns:focus {
    color: #FFFFFF;
}

.favorite_btn .active {
    color: gold;
    font-weight: normal;
}

.follow_btn .active {
    color: #d2322d;
    font-weight: normal;
}

.subscribe_btn .active {
    color: #5bb75b;
    font-weight: normal;
}

#event_images {
    display: block;
    clear: both;
    margin: 5px;
    border-top: 1px solid rgba(230, 229, 228, 0.83);
}

.comments_title {
    width: 98%;
    height: auto;
    padding: 5px;
    background-color: rgba(216, 215, 214, 0.83);
    border-bottom: 1px solid #acaba8;
}

.comments_dev {
    border-bottom: 1px solid #dcdbd8;
    margin-bottom: 3px;
    font-size:.9em;
    color: #112233;
}


.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -25px;
    background-color: #4997cd;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline-badge span.timeline-balloon-date-day {
    font-size: 1.4em;
    display: block;
}

.timeline-badge span.timeline-balloon-date-month {
    font-size: .7em;
    position: relative;
    top: -10px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

.active {
    font-weight: Bold;
}

/*Slider CSS*/
.slider {

}

.carousel-caption {
    width: 35% !important;
    margin-right: 64.5% !important;
    right: 0px !important;
    bottom: 0px !important;
    padding-top: 0px !important;
    background: #502d8a;
    height: 400px;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 0;
    opacity: 0.9;
}

.subscribe-button {
    font-size: 1.2em;
    font-weight: bold;
}

.slider .slider-title a {
    color: white;
    font-size: 1.4em;
    display: block;
    padding: 5px;
}

.slider .slider-description {
    color: white;
    font-size: 15px;
    display: block;
    font-weight: normal;
    padding: 5px;
    margin-bottom: 20px;
}

.slider .text-left {
    margin-top: 10px;
    padding-left: 10px;
    text-align: left;
}

.slider .text-right {
    margin-top: 10px;
    padding-right: 10px;
    text-align: right;
}

a.kaizen-button {

    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
a.kaizen-button:hover {
    color:#5bb75b;
}
span.tag {
    margin:14px 5px;
    position:relative;
    border-radius:0px;
    background:red;
    display:block;
    height: 50px;
    width: 210px;
    padding:5px;
    text-align:center;
}

span.tag:hover, .active-tab-slide {
    background: #502d8a !important; /* Old browsers */
    background: -moz-linear-gradient(top, #502d8a 0%, #502d8a 50%, #502d8a 51%, #502d8a 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #502d8a), color-stop(50%, #502d8a), color-stop(51%, #502d8a), color-stop(100%, #502d8a)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #502d8a 0%, #502d8a 50%, #502d8a 51%, #502d8a 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #502d8a 0%, #502d8a 50%, #502d8a 51%, #502d8a 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #502d8a 0%, #502d8a 50%, #502d8a 51%, #502d8a 100%) !important; /* IE10+ */
    background: linear-gradient(top, #502d8a 0%, #502d8a 50%, #502d8a 51%, #502d8a 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#502d8a', endColorstr='#502d8a', GradientType=0) !important; /* IE6-9 */
}

span.tag-gray {
    background: #C5C5C5; /* Old browsers */
    background: -moz-linear-gradient(top, #C5C5C5 0%, #C5C5C5 50%, #C5C5C5 51%, #C5C5C5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C5C5C5), color-stop(50%, #C5C5C5), color-stop(51%, #C5C5C5), color-stop(100%, #C5C5C5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C5C5C5 0%, #C5C5C5 50%, #C5C5C5 51%, #C5C5C5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C5C5C5 0%, #C5C5C5 50%, #C5C5C5 51%, #C5C5C5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C5C5C5 0%, #C5C5C5 50%, #C5C5C5 51%, #C5C5C5 100%); /* IE10+ */
    background: linear-gradient(top, #C5C5C5 0%, #C5C5C5 50%, #C5C5C5 51%, #C5C5C5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C5C5C5', endColorstr='#C5C5C5', GradientType=0); /* IE6-9 */
    color: #fff;
    font-size: .7em;
    font-weight: bold;
}

span.tag:after {
    right:140px;
    height:30px;
    width:80px;
    border-radius: 0px 32px 0px 0px;
    content:".";
    display:block;
    position:absolute;
    top:8px;
    font-size:0;
    overflow:hidden;
    background:#fff;
    -moz-transform-origin:0 0;
    -moz-transform:rotate(-43deg) translate(-60%, -49%);
    -webkit-transform-origin:0 0;
    -webkit-transform:rotate(-43deg) translate(-60%, -49%);
    transform-origin:0 0;
    transform:rotate(-43deg) translate(-60%, -49%);
}

.post {
    background-color: #FFF;
    box-shadow: 0 0 1px #CCC;
    margin: 5px 5px 10px 5px;
}

.post img {
}

.post .content {

}

.post .post-author {
    font-size: 12px;
    color: #737373;
    padding: 5px 5px 5px 15px;
}

.post .post-img-content {
    position: relative;
}

.post .post-title-wrapper {
    background: #E6E6E6;
    margin: 5px;
}

.post .post-title {
    font-size: 1.7em;
    margin: 5px;
    padding: 5px;
}

.post .post-title a {
    text-decoration: none;
}

.post .post-description {
    font-size: 1.2em;
    padding: 5px 5px 5px 15px;
}

.post .post-button {
    padding: 5px 5px 5px 15px;
}

.post .post-title b {
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}

.bg-blue {
    background: #532f8f;
    background: -moz-linear-gradient(top, #532f8f 0%, #311c54 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #532f8f), color-stop(100%, #311c54));
    background: -webkit-linear-gradient(top, #532f8f 0%, #311c54 100%);
    background: -o-linear-gradient(top, #532f8f 0%, #311c54 100%);
    background: -ms-linear-gradient(top, #532f8f 0%, #311c54 100%);
    background: linear-gradient(to bottom, #532f8f 0%, #311c54 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#532f8f', endColorstr='#311c54', GradientType=0);
}
.bg-green {
    background: #532f8f;
    background: -moz-linear-gradient(top, #532f8f 0%, #311c54 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #532f8f), color-stop(100%, #311c54));
    background: -webkit-linear-gradient(top, #532f8f 0%, #311c54 100%);
    background: -o-linear-gradient(top, #532f8f 0%, #311c54 100%);
    background: -ms-linear-gradient(top, #532f8f 0%, #311c54 100%);
    background: linear-gradient(to bottom, #00FF70 0%, #311c54 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#532f8f', endColorstr='#311c54', GradientType=0);
}

.event-title {
    font-size: 1.5em;
    font-size: bold;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px;}
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.copyright {
    font-size: .9em;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    color: #112233;
    font-style: italic;
    margin-bottom: 20px;
}

#map_canvas {
    margin: 0;
    padding: 0;
    height: 400px;
    border: 1px solid #ccc;
}
#footer {
    margin:50px 0;
}

.social-icons a {
    font-size: 1.5em;
    color:#532F8F;
}
.social-icons a:hover {
    color:#5bb75b;
}

.unstyled {
    list-style: none;
    margin-left: -20px;
}

.wrapper {
    border: 1px solid rgba(181, 164, 173, 0.16);
    border-radius: 2px;
    padding : 0 10 px;
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

.slides .modal-footer {
    font-family: arial, helvetica;
}

.bg-white {
    background: #FFFFff;
    border:solid 1px #efefef;
    border-top:none ;
}

.padded {
    padding:20px;
}

.padded-right {
    padding-right:5px;
}
.padded-left {
    padding-left:5px;
}

.fa-5 {
    font-size:12em;
}

.carousel-mobile {
    margin:10px;
}

.carousel-mobile img {
    height:auto;
}

.country-name {
    padding:0 10px;
}

.event-date {
    font-style: italic;
    color:#00008b;
}

.input-lg {
    border-radius : 0px;
}

.comment-wrapper {
    border-bottom: 1px dotted #0b56a8;
}
.comment-panel {
    font-family: helvetica, arial, sans-serif;
    padding :5px 0;
}
.comment-reply {
    border-top: 1px dotted #0b56a8;
    margin-right: 50px;
}

.comment-meta {
    margin-right:20px;
}